
#body{
   
    background-color:#f6f6f6;
    min-width:1000px; /*晓丹设计的原始宽度*/
}
.fontBodyStyle
{ 
    font-family:"宋体"; 
    font-size:20px;
    margin:0 auto;
}
 #morePageInformationShowDiv
 {
 	width:78%;       
 	min-height:210px;
 	background-color:#ffffff;
 	margin-top:40px;
    border-bottom:1px solid #e4e4e4;
    min-width:780px;
}
#userHeadImage{
    clear:left;
    float:left;
    margin-left:17px;
    margin-top:29px;
}
#userInformation{
    height:154px;
    float:left;
    margin-left:20px;
    
}
.informationContextName{
    clear:left;
    float:left;
    margin-bottom:20px;
    margin-top:20px; 
}
.informationContextEmail{
    float:left;
    clear:left;
    margin-bottom:20px;
}
.informationContextIsorNotDiv{
    float:left;
    clear:left;
    /*margin-bottom:20px;*/
   
}
#checkboxStyleDiv{
    width:28px;
    height:28px;
    clear:left;
    float:left;
    line-height:28px;
   
}
#checkboxStyle{
    width:25px;
    height:25px;   
}
#checkboxTextDiv{
    /*height:26px;*/
    height:25px;
    float:left;
    margin-left:10px;
    line-height:25px;
    /* line-height:20px;*/
}
#issuedList{
    min-width:780px; 
    clear:left;
    float:left;

}
#postList{
    clear:left;
    float:left;
    margin-left:20px;
}
#moreThan{
    margin-left:17px;

}
.moreThan{
    float:left;
    margin-left:17px;
    margin-top:10px;
}
/*
#issuedPost{
    min-width:1140px;
    min-height:48px;
    clear:left;
    float:left;
    background-color:#ffffff;
}
#postListText{
    clear:left;
    float:left;
    margin-left:20px;
    margin-top:10px;
}
.moreThan{
    float:left;
    margin-left:17px;
    margin-top:10px;
}*/
#myInformationPageText
{   width:78%;
 	min-width:780px;
 	min-height:170px;
 	background-color:#ffffff;
    clear:left;
    float:left;
    border-top:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
}
.horizontal-List
 {  width:78%;
    min-width:780px;
    min-height:50px;
    clear:left;
    float:left; 
    margin-left:22px;
    margin-right:22px;
    border-bottom:1px solid #e4e4e4;  
 }
 #listTitleContent
 {  height:50px;
	float:left;
    line-height:50px;

 }
#dateTimeContent
 {  height:50px;
    float:right;
    line-height:50px; 
 }
#knowledgeList{
    width:780px;
    height:70px;
    clear:left;
    float:left;
    padding-top:29px;
 }
#knowledgeListText
{   clear:left;
    float:left;
  
}
#moreThanMoreThan{
    float:left; 
    margin-left:17px; 
}







