/*.navStyle{
  font-family:"宋体－简","黑体",serif;  无衬线是sans seri*
  font-size:20px;

}
a{

	 text-decoration:none;
	 list-style-type:none;
}*/
nav ul{width:500px;margin:20px auto;} 
nav ul li{float:left; width:100px; height:24px; line-height:24px} 
nav select {display: none;} //隐藏select 
@media (max-width: 960px) { 
  nav ul     { display: none; } 
  nav select { display: inline-block; float:right; margin:20px 100px} 
} 