.body{
	 
	 background-color:#f6f6f6;
	 

}
 .morePageInformationShowDiv
 {
 	min-width:780px;
 	min-height:156px;
 	background-color:#ffffff;
 	margin-top:40px;

 }
 span{
   
   color:#ffffff;

 }
 .myInformationPageText
 {
 	width:780px;
 	height:150px;
 	background-color:#ffffff;
 }

 #listTitleContent
 {
	float:left;
 }
 #dateContent
 {
    float:right;
    
 }

