.Body{

  background-color:#f6f6f6;

}
#navBackground
{  
  background-image:url(../images/login_02.png);
  background-size:100% 100%;                  /**导航背景图片*/
}
span
{
  color:#ffffff;
}
#userName
{
  height:24px;width:50px;
}
#userPassword
{
  height:24px;width:53px;

}
#loginButton{
  background-image:url(../images/login_02.png);
  border:0px;
}
#registerButton{
 background-image:url(../images/login_02.png);      /*background-color:transparent； 把按钮内景设置为透明色*/
 border:0px;
}
.loginContent{                                  /*对层的设置*/
  min-width:780px;
  min-height:135px;
  background-color:#ffffff;
  margin-top:40px;
}
.loginContentLeft
{ clear:left;
  float:left; 
  position:relative; 
  top:29px;  
  left:13px;  
  
}
.loginContentRight{
  min-width:674px;
  min-height:154px;
  float:left;
  margin-left:38px;
  margin-top:28px;
  margin-bottom:21px;

}
.loginContentTitle{
  min-width:673px;
  float:left;
  clear:left;
  margin-bottom:25px;
  font-family:"宋体";
  font-size:18px;
  color:#040404;
}
.loginSpecialContent{ /*登录页具体的内容*/
  min-width:673px;

  float:left;
  clear:left;
  margin-bottom:14px;
  font-family:"宋体";
  font-size:12px;
  color:#1c1c1c;

}
.dateTime{
  min-width:673px;
  float:left;
  clear:left;
  margin-bottom:21px;
  font-family:"宋体";
  color:#bec1c0;
}
.dataTimeImage
{ 
  clear:left;
  float:left;
  margin-right:10px;
}
.dataTimeSpecialTime{
  float:left;

}
#specificContentImg{
  min-width:780px;
  min-height:584px;
  border:1px solid #000000;
  clear:left;
  float:left;

}