.body{
     
    background-color:#f6f6f6;
    
    color:#191919;
}
#fontStyle{
    font-family:"宋体";
    font-size:20px;


}
#navBackground{  
	background-image:url(../img/login_02.png);

	background-size:100% 100%;                /**导航背景图片*/

}
#rightNavStyle{
  
   

}
span{
   color:#ffffff;

}
.liStyle{
  padding-top:5px;

}
/*页面内容部分的css*/
.armyHeadImage{

	background-color:#ffffff;
	min-width:780px;
    min-height:111px;
  
    margin-top:43px;
    margin-bottom:20px;
    padding-left:20px;
    padding-top:4px;
    border-radius:5px; /*把div设置成圆角*/
    border:0.5px solid  #e4e4e4;
    
}
.armyName{
    background-color:#ffffff;
	min-width:780px;
    min-height:111px;
    border-radius:5px; /*把div设置成圆角*/
    border:0.5px solid  #e4e4e4;
    
}
.armyNameText{
    position:relative;
    top:40px;
    left:20px;
    float:left;


}
#inputFormDiv{
   float:left;
   margin-left:30px;
  /* min-width:708px;*/
   min-width:93.362%;
   border:0px;

}
.inputForm{
    
    min-width:100%;
    min-height:109px;
    border:0px;
   
}
.armyAdd{
	padding-left:20px;
	padding-top:22px;
    background-color:#ffffff;
    margin-top:20px;
    min-width:780px;
    min-height:89px;
    border:0.5px solid  #e4e4e4;
   

}
.armyCheckbox{
	min-width:780px;
	min-height:89px;
	padding-left:19px;
	padding-top:29px;
	padding-bottom:33px;
  background-color:#ffffff;
  margin-top:20px;
  border:0.5px  solid  #e4e4e4;
   
}
#armyCheckboxText{
    clear:left;
    float:left;
}
#armyCheckboxIs{
    float:left;
}
#armyCheckboxTextIs{
    float:left;
}
#armyCheckboxNot{
    float:left;
}
#armyCheckboxTextNot{
    float:left;

}
.checkboxSize{
	width:30px;
  height:20px; /* 字体的高度如果是20px;要想对齐，checkboxSize的高度也必须是20px，文字和复选框才能对齐*/


}