* {margin:0; padding:0; border:0;}
#banner_background {
	position: relative; 
	background-image:url(../images/login_02.png); 
	min-width: 900px;
	width: auto; 
	height: 42; 
	margin:0px auto 0px auto;
	background-size: 100% 100%;

}
#Body{ 
	
    
	background-color:#f6f6f6;
	min-height: 700px;
}
a{
	text-decoration: none;
}
span{
   color:#ffffff;

}
.rightNavliDivStyle{
  padding-top:5px;

}
#navBackground{  
	background-image:url(../images/login_02.png);

	background-size:100% 100%;                /**导航背景图片*/

}

#fontStyle{
    
  
  font-family:"宋体"; 
  font-size:20px;
}


/* 页面内容部分的css*/
#Body
{
	background-color:#f6f6f6;
    font-family:"宋体";
    font-size:18px;
    color:#040404;
}
.morePageInformationShowDiv
 {
 	min-width:780px;
 	min-height:156px;
 	background-color:#ffffff;
 	margin-top:40px;
 	border:1px solid #e4e4e4;

 }
#userHeadImage{
	clear:left;
    float:left;
    margin-left:17px;
    margin-top:29px;
}
#userInformation{
	height:154px;
    float:left;
	margin-left:20px;
	
}
.informationContextName{
    float:left;
    clear:right;
    margin-bottom:20px;
    margin-top:20px; 
}
.informationContextMerit{
    float:left;
    clear:left;
    margin-bottom:20px;
}
.informationContextCredit{
	float:left;
	clear:left;
    margin-bottom:20px;
}
#militaryResult{
    min-width:780px;
    min-height:80px;
    clear:left;
    float:left;
    background-color:#f5f6f6;     
}
#militaryResultText{

    min-width:780px;
    min-height:80px;
    clear:left;
    float:left;
    padding-top:40px;
    padding-bottom:20px;
    background-color:#f5f6f6;    
}
.horizontal-List1{
    min-width:1140px;
    min-height:80px;
    background-color:#ffffff;
    clear:left;
    float:left;
    border:1px solid #e4e4e4;
}
.horizontal-List2{
    min-width:1140px;
    min-height:80px;
    background-color:#ffffff;
    clear:left;
    float:left;
    border-top:1px solid #e4e4e4;
    border-left:1px solid #e4e4e4;
    border-right:1px solid #e4e4e4;
}

.divPlan{
	height:77px;
    margin-left:27px;
    float:left;
    line-height:77px;   /*关于文字的层只要设置它的line-height=height，就能够让文字垂直居中*/
}