* {margin:0; padding:0; border:0;}
body{ 
	font-family:"宋体";
	background-color: #f5f6f6;
	min-height: 700px;

}

#center { margin-left: auto; margin-right: auto; }
a{
	text-decoration: none;
}
#banner_background {
	position: relative; 
	background-image:url(../img/login_02.png); 
	min-width: 1000px;
	width: auto; 
	height: 42px; 
	margin:0px auto 0px auto;
	background-size: 100% 100%;
}
#banner_box{
	position: absolute;
	left: 31px;
	right: 31px;
	width: auto;
	border-style: solid;
	border-width: 0px;
}
.banner_left_text{ 
	float: left;
	margin: 9px 11px auto 11px;
	font-size: 18px; 
}
.banner_a{
	color: #FFFFFF; 
}
.banner_right_text{
	float: right;
	margin: 9px 5px auto 5px;
	font-size: 18px;
}
#banner_right_pic_settings{
	float: right;
	margin: 7px 5px auto 5px;
}
#banner_right_pic_email{
	float: right;
	margin: 10px 5px auto 5px;
}
#banner_right_pic_head{
	float: right;
	margin: 2px 5px auto 5px;
}
.usertable_big_box{
	width: 100%;
	min-width: 1000px;
}
.usertable_box{
	width: 78%;
	min-width: 780px;
	overflow:hidden;
	margin: 40px auto 0px auto;
	background-color: white;
}
.usertable_pic{
	width: 61px;
	height: 61px;
	float: left;
	margin: 30px 20px 30px 20px;
}
.usertable_text_box{
	overflow:hidden;
	width: auto;
}
.usertable_head{
	float: left;
	margin-top: 30px;
	font-size: 18px;
	color: #040404;
}
.usertable_paragraph{
	float: left;
	clear: left;
	margin-top: 25px;
	margin-right: 20px;
	font-size: 12px;
	color: #1c1c1c;
	height: auto;
	width: auto;
}
.usertable_time_pic{
	float: left;
	clear: left;
	margin-top: 15px;
	margin-bottom: 25px;
}
.usertable_time{
	float: left;
	margin: 15px 0px 25px 12px;
	margin-bottom: 25px;
	font-size: 12px;
	color: #bec1c0;
}
#block_box{
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: 40px;
}