
body{
    background-color:#f6f6f6;
    min-width:1000px; 
    font-family:"宋体－简","黑体",serif;  /*无衬线是sans seri*/
    font-size:20px;
}
a{
   text-decoration:none;
  /*color:#a5d6b8;*/
   color:#01b37a;
   font-size:16px;
}
#p{
    clear:left;
    float:left;

}
 #morePageInformationShowDiv
 {
 	width:78%;       
 	min-height:210px;
    min-width:780px;
 	background-color:#ffffff;
 	margin-top:40px;
    border-bottom:1px solid #e4e4e4;
    margin: 0px auto;
}
#userHeadImageDiv{
    clear:left;
    float:left;
    margin-left:21px;
    margin-top:41px;
   
}
#userInformationDiv{
    /*height:154px;*/
    float:left;
    margin-left:22px;  
    margin-top:41px; 

}
.informationContextName{
    clear:left;
    float:left;
    margin-bottom:20px;
   
}
.informationContextEmail{
    float:left;
    clear:left;
    margin-bottom:12px;
}
.informationContextIsorNotDiv{
    float:left;
    clear:left;   
}
.postList{
    clear:left;
    float:left;
    margin-left:21px;
    margin-top:30px;
}
.moreThan{
    float:left;
    margin-left:17px;
    margin-top:30px;
}
.myInformationPageText
{   width:78%;
    min-width:780px;
    min-height:170px;
    background-color:#ffffff;
    border-top:1px   solid #e4e4e4;
    border-bottom:1px  solid #e4e4e4;
    margin:0px auto;
   
}
.horizontal-List
{  
    width:94.358974358974%;
   
    min-height:50px; 
    position:relative;
    top:0px;
    left:2.820512820513%;
    border-bottom:1px solid #e4e4e4;    
 }
 #listTitleContent
 {  height:50px;
    float:left;
    line-height:50px;

 }
#dateTimeContent
 {  height:50px;
    float:right;
    line-height:50px; 
 }
 #goodsList{
    width:78%;
    min-width:780px;
    min-height:244px;
    background-color:#ffffff;
    border-top:1px   solid #e4e4e4;
    border-bottom:1px  solid #e4e4e4;
    margin:0px auto;
 }
 .goodsListImage{
    clear:left;
    float:left;
    margin-left:30px;
    padding-top:19px;  
 }
 .goodsListText{
    float:left;
    margin-left:10px;
    height:95px;
    line-height:95px;

 }
/*
#checkboxStyleDiv{
  
    height:27px;
    clear:left;
    float:left; 
    margin-top:10px;
   

}
#checkboxStyle{
    width:2px;
    height:27px; 
    
}
#checkboxTextDiv{
  
    height:27px;
    float:left;
    margin-left:10px;
   
    margin-top:10px;
    
}
#issuedList{
    min-width:780px; 
    clear:left;
    float:left;
    position:relative;


}
.postList{
    clear:left;
    float:left;
    margin-left:20px;
    margin-top:10px;
}

.moreThan{
    float:left;
    margin-left:17px;
    margin-top:10px;
}

.myInformationPageText
{   width:78%;
 	min-width:780px;
 	min-height:170px;
 	background-color:#ffffff;
    border-top:1px   solid #e4e4e4;
    border-bottom:1px  solid #e4e4e4;
    margin:0px auto;
   
}
.horizontal-List
{  
    width:94.358974358974%;
   
    min-height:50px; 
    position:relative;
    top:0px;
    left:2.820512820513%;
    border-bottom:1px solid #e4e4e4;    
 }
 #listTitleContent
 {  height:50px;
	float:left;
    line-height:50px;

 }
#dateTimeContent
 {  height:50px;
    float:right;
    line-height:50px; 
 }
 #goodsList{
    width:78%;
    min-width:780px;
    min-height:244px;
    background-color:#ffffff;
    border-top:1px   solid #e4e4e4;
    border-bottom:1px  solid #e4e4e4;
    margin:0px auto;
 }
 .goodsListImage{
    clear:left;
    float:left;
    margin-left:30px;
    padding-top:19px;  
 }
 .goodsListText{
    float:left;
    margin-left:10px;
    height:95px;
    line-height:95px;

 }*/










