
body
{

  background-color:#F0F8FF;                 /*background-color:#DCDCDC;*/
 
}
.blackFont{                                /*把span里的文字设置成黑色的*/
  color:#000000;
}
#frame{                                    /*对frame框架进行修改*/
  width:100%;
  height:42px;
	border:0px;
}
#img_responsive{

  margin-right: 10px;
  display:block;
  max-width:100%;                         /*height*/
}







/*下面是group.html的css */

#navBackground
{  
  background-image:url(../images/login_02.png);

  background-size:100% 100%;                  /**导航背景图片*/
}
.liStyle{
  padding-top:5px;

}
#content1
{
	height:100px;
}
#content2
{
  height:100px;
}
#content3{
  height:40px;
   
}
#content4{
	height:50px;
}
#buttonCenter{
  text-align: center;
}
div{
  border:1px solid transparent；
}
#buttonSure{
   margin-right:50px;
   width:100px;
   height:43px;
}
#buttonCanel{
   width:100px;
   height:43px;
}
span
{
  color:#FFFFFF;
}
#radioButton{
	width:1170px;
	height:86px;
  background-color:#ffffff;
  text-align:center;
  padding-top:43px; 
  border:0px;
}
#textButton1{
  border:0px;                                 /* width:1170px;height:86px;*/
  width:1170px;
  height:66px;  
}
#textButton2{
  
  border:0px;
  height:327px;
  width:1170px;
}







/*下面是register.html中的css*/
#form_top_Content
{
  height:80px;
}
#formGroup
{
  width:784px;
  height:82px;
  background-color:#ffffff;                      /*表单设置 */
  border:0px;
  margin-bottom:40px;
  border-radius:5px;
}
#photoDiv
{
  float:left;
  margin-top:12px;
  margin-left:12px;
  width:61px;
  height:61px;
}
#photoDivEmail{                               /*表单的图片样式*/
   float:left;
   margin-top:20px;
   margin-left:20px;
   width:61px;
   height:61px;
}
#photoDivNickname{
   float:left;
   margin-top:20px;
   margin-left:20px;
   width:61px;
   height:61px;
}
#photo
{
   vertical-align:center;
}
#inputFormDiv
{
  width:709px;
  height:86px;
  border:0px;  
}
#inputForm
{
  width:1101px;
  height:85px;
  border:0px; 
}
#registerDiv{
  width:100px;
  height:43px; 
  margin:0 auto;                                 /*让注册按钮居中显示*/ 
}
@media  screen and (max-width:767px)              /*对div做响应式设计*/
{
  #radioButton{
    width:auto;
  }
}
@media (min-width: 768px){
  #radioButton{
    width:auto;
  
  }
}








/* 下面是个人主页myhomePage.html的css*/

#userName
{
  height:24px;width:50px;
}
#userPassword
{
  height:24px;width:53px;

}
#loginButton{
  background-image:url(../images/login_02.png);
  border:0px;
}
#registerButton{
 background-image:url(../images/login_02.png);      /*background-color:transparent； 把按钮内景设置为透明色*/
 border:0px;
}

#moreThanContent{
  margin:0 auto;
}
#moreThanButton{
  margin:0 auto;
}
#Hr{
  margin-bottom:30px;
  border-top:1px dotted #000000;
  height:1px;
}
#Footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;                             /*脚部的高度*//*clear:both;/*margin-right:100px;*/
}
#Footer ul{
  list-style-type:none;
  float:left;
}
#footer{
 color:#000000;
}
#Footer ul li{
  display: inline-block;
  margin-right:50px;
}
#copyRight{/*text-align: right;
  padding-right: 10px;*/
   /*bottom:0px;
  right:100px;*/
  /*position:fixed;
  top:816px;
  left:1800px;
  right:100px;*/
  position:absolute;
  top:55px;
  right:200px;                            /*的继续改进，改成响应式*/
}







 /*login.html页面的css*/
#table1{                                 /*表格样式的设置*/
  margin-bottom:40px;
  text-align:center; 
}
#tableImg{
  margin-right:40px;
}

.loginContent{                                  /*对层的设置*/
  margin-top:40px;
  margin-bottom:40px;
  height:156px;
  width:780px;
  margin-left:110px;

}
.loginContentLeft{
  border:2px solid solid;       
  clear:left;
  float:left;      
  height:156px
  width:170px;
  background-color:#FF0000;
}
.loginContentRight{
  border:2px solid solid;       
  width:1000px;
  height:156px;
  float:right;

}
.loginContentTitle{
  border:2px solid solid;       
  background-color:00FFFF;
  float:right;
  height:55px;
  width:1000px;

}
.loginSpecialContent{ /*登录页具体的内容*/
  border:2px solid solid;       
  float:right;
  background-color:7FFF00;
  height:101px;
  width:1000px;
}








/* 下面是对newPost.html的css*/
 #newPostTitle{

 text-align:left;
 vertical-align:center;
 font-size:20px; 
 font-weight:5px; 

}
#newPostContent{
   width:1140px;
   height:445px;
   background-color:#ffffff;
  /*margin:0 auto;*/
}
#contentStyle{
  float:left;
  width:1140px;
  height:44px;
  border-top:0.5px solid #A9A9A9;
  border-left:0.5px solid #A9A9A9;
  border-right:1px solid #A9A9A9;
  border-top-left-radius:5px;   
  border-top-right-radius:5px; 
  font-size:20px; 
  font-weight:normal;  
  vertical-align:center;                          /*把div的四个角都设置成圆角*/
}
#postContent{
  clear:left;
  height:398px;
}
.newPostBlankContent{
  height:100px;
}
#buttonDiv{
  float:right;
  margin-top:0px;
  padding-top:39px;
}
#abandonButton{
  width:102px;
  height:50px;
  margin-right:40px;
}
#storageButton{
 width:102px;
  height:50px;
  margin-right:40px;
}

#announceButton{
  width:102px;
  height:50px;
  margin-right:20px;
}






/* userCancel.html的css*/
.titleContent
{ margin-top:80px;
  margin-bottom:40px;
  font-size:20px;
}
#showContent{
  width:1170px;
  height:157px;
  border:1px solid #F0F8FF;
  background-color:#ffffff;
  border-radius:5px;
  margin:0 auto;
  text-algin:center;
}
#cancelReasonContent{
  width:1170px;
  height:157px;
  border:1px solid #F0F8FF;
  background-color:#ffffff;
  border-radius:5px;
  margin:0 auto;
}
.userCanelButtonStyle{
  text-align:center;    
  margin-top:50px;             /*把按钮居中的类*/
}
.userCanelImg1{
  width:60px;
  height:62px;
  float:left;
  clear:left;
  margin-left:100px;
  margin-top:50px;
  text-align:center;
}
.userCanelImg2
{ width:60px;
  height:62px;
  float:left;
  margin-left:150px;
  margin-top:50px;
  text-align:center;
}
.userCancelCheckbox{
 color:#000000;
 font-size:15px;
 letter-spacing:3px;
}
#cancelReasonSpecialContent{
  margin-left:80px;
  margin-top:20px;
}







/*showPhonePage.html页面的css*/
.showPhonePage{
  width:826px;
  height:752px;
  margin:0 auto;
}
.showPhonePageDiv
{  
  width:416px;
  height:752px;
  clear:left;
  float:left;
  border:1px solid  #c0c0c0 ;
}
.specialShowPhonePageDiv{
  width:410px;
  height:752px;
  float:left;
  border-right:1px solid  #c0c0c0 ;
  border-top:1px solid  #c0c0c0;
  border-bottom:1px solid  #c0c0c0;
}
.userNameSort{
  width:300px;
  text-align:center;
  margin-top:20px;
  border-radius:3px;
}
.nodes{
  width:396px;
  height:30px;
  margin:0 auto;
}
#oginRegisterDiv{
  text-align:center;
  width:300px;
}
.loginButton{
  margin-top:15px;
  margin-right:60px;
}
.registerButton{
  color:#ffffff;
  margin-top:15px;
  margin-right:30px;
}








