

body
{

  background-color:#f6f6f6;                 /*background-color:#DCDCDC;*/
 
}
.blackFont{                                /*把span里的文字设置成黑色的*/
  color:#000000;
}
#frame{                                    /*对frame框架进行修改*/
  width:100%;
  height:42px;
  border:0px;
}
#img_responsive{

  margin-right: 10px;
  display:block;
  max-width:100%;                         /*height*/
}
#navBackground
{  
  background-image:url(../images/login_02.png);

  background-size:100% 100%;                  /**导航背景图片*/
}
#taskNotificationFontCenterStyle{

  font-family:"宋体－简","黑体",serif;  /*无衬线是sans seri*/
  font-size:20px;
  margin:0 auto;
}
span
{
  color:#FFFFFF;
}
#newPostTitleDiv{
  width:78%;
  min-width:780px;
  min-height:96px;


}
#newPostTitle{

 text-align:left;
 vertical-align:center;
 font-size:20px; 
 font-weight:5px; 

}
#newPostContent{
   width:1140px;
   height:445px;
   background-color:#ffffff;
  /*margin:0 auto;*/
}
#contentStyle{
  float:left;
  width:1140px;
  height:44px;
  border-top:0.5px solid #A9A9A9;
  border-left:0.5px solid #A9A9A9;
  border-right:1px solid #A9A9A9;
  border-top-left-radius:5px;   
  border-top-right-radius:5px; 
  font-size:20px; 
  font-weight:normal;  
  vertical-align:center;                          /*把div的四个角都设置成圆角*/
}
#postContent{
  clear:left;
  height:398px;
}
.newPostBlankContent{
  height:100px;
}
#buttonDiv{
  float:right;
  margin-top:0px;
  padding-top:39px;
}
#abandonButton{
  width:102px;
  height:50px;
  margin-right:40px;
}
#storageButton{
 width:102px;
  height:50px;
  margin-right:40px;
}

#announceButton{
  width:102px;
  height:50px;
  margin-right:20px;
}