.body{
	 
	 background-color:#f6f6f6;
}
 .morePageInformationShowDiv
 {
 	min-width:780px;
 	min-height:156px;
 	background-color:#ffffff;
 	margin-top:40px;

 }
 .myInformationPageText
 {
 	width:780px;
 	height:150px;
 	background-color:#ffffff;
 }
 .horizontal-List
 {
    width:780px;
    height:50px;
    float:left;
   
 }
 #listTitleContent
 {
	float:left;
 }
 #dateContent
 {
    float:right;
    
 }
