.Body{
   background-color:#f6f6f6;
  

}
.fontStyle{

  font-family:"宋体"; 
  font-size:20px;
}
span{
  color:#ffffff;


}
.liStyle{
  padding-top:5px;

}
#taskType{

	min-width:780px;
	min-height:89px;
  background-color:#ffffff;
  border:0.5px solid  #e4e4e4;
}
#taskText{

  /*margin-left:21px;
  margin-right:20px;*/
  position:relative;
  top:35px;
  left:21px;
  float:left;
  clear:left;
}
#taskTypeInputDiv{
  float:left;
  margin-left:40px;
  position:relative;
  top:24px;
}
#taskTypeInput{
  height:47px;
  width:144px;
  border-radius:5px;
}
#taskTitle{
  min-width:780px;
  min-height:70px;
  background-color:#f6f6f6;
}
#taskTitleContext{
  position:relative;
  top:30px;
  
}
.whiteBox{
   min-width:780px;
   min-height:356px;
   background-color:#ffffff;
   border:0.5px solid  #e4e4e4;
}
.whiteBoxInput{

  width:1140px;
  min-height:356px;
  background-color:#ffffff;
  border:0px;
  
}
#taskAttachmentDiv{
  min-width:780px;
  min-height:153px;
  background-color:#f6f6f6;
  border:0px;
}
#attachmentTextDiv{
  height:47px;
  clear:left;
  float:left;
  margin-top:40px;
  margin-left:5px;
  border:0px;
  line-height:47px;   /*让input左边的文字垂直居中 ，line-height行高是包含了文字的高度在内的，而height并非是文字的高度，而是文字所在标签的高度，行高举例的话，假如行高设为30px，那么就是文字中心点距上或者距下各为15px，所以行高与标签的高度一样的时候就垂直居中了*/
}
#attachmentInputTextDiv{
  height:47px;
  float:left;
  margin-top:40px;
  margin-left:20px;
  border:0px;
}
#attachmentInput{
  height:45px;
  border-radius:5px;

}
/*#attachmentUploadButtonDiv{
  width:64px;
  height:47px;
  float:left;
  margin-top:40px;
  margin-left:20px;
  border:0px;
}*/
#attachmentUploadButton{
  float:left;
  margin-top:40px;
  margin-left:20px;
  width:64px;
  height:47px;
  border-radius:10px;
  background-image:url(../images/upLoad.png);

}
#taskGoalDiv{
  clear:left;
  float:left;
  margin-top:31px;
}
#whiteBoxMargin{
  margin-top:20px;

}


#taskIssueLastPartDiv{
 
  min-width:780px;
  min-height:550px;
  border:0px;
}
.taskTestDiv{
  height:48px;
  clear:left;
  float:left;
  margin-top:40px; 
  margin-left:10px;
  line-height:48px;
}
.taskCheckboxDiv{
  height:48px;
  float:left;
  margin-top:40px;
  margin-left:20px;
}
.taskCheckboxDiv1{
  height:48px;
  float:left;
  margin-top:40px;
  margin-left:60px;
}
.checkboxStyle{
  width:48px;
  height:48px;

}
#taskDirectedToWhoDiv{
  height:48px;
  float:left;
  margin-top:40px;
  line-height:46px;
  margin-left:120px;

}
#taskDirectedInputTextDiv{
  height:48px;
  float:left;
  margin-top:40px;
  margin-left:18px;
}
.inputTextStyle{
  width:150px;
  height:47px; 
  border-radius:5px;
}
#issueButtonDivStyle{
  clear:left;
  float:left;
  margin-left:294px;
  margin-top:40px;


}
#abandonButtonDivStyle{
  float:left;
  margin-left:266px;
  margin-top:40px;


}
#taskIssueButton{
  background-color:#ffffff;
  width:75px;
  height:43px;
  border-radius:5px;
  border:1px solid #e4e4e4;
  
}
#taskAbandonButton{
  background-color:#ffffff;
  width:75px;
  height:43px;
  border-radius:5px;
  border:1px solid #e4e4e4;
}


