* {margin:0; padding:0; border:0;}
body{ 
	font-family:"宋体";
	background-color: #f6f6f6;
	min-height: 700px;
}
a{
	text-decoration: none;
}
#banner_background {
	position: relative; 
	background-image:url(../images/login_02.png); 
	min-width: 900px;

	width: auto; 
	height: 42px; 
	margin:0px auto 0px auto;
	background-size: 100% 100%;
	background-repeat: repeat-x;
}
#banner_box{
	position: absolute;

	left: 31px;
	right: 31px;
	width: auto;
	border-style: solid;
	border-width: 0px;
}
.banner_left_text{ 
	float: left;
	margin: 11px 11px auto 11px;
	font-size: 12px; 
}
.banner_a{
	color: #FFFFFF; 
}
.banner_right_text{
	float: right;
	margin: 11px 5px auto 5px;
	font-size: 12px;
}
#banner_right_pic_settings{
	float: right;
	margin: 7px 5px auto 5px;
}
#banner_right_pic_email{
	float: right;
	margin: 10px 5px auto 5px;
}
#banner_right_pic_head{
	float: right;
	margin: 2px 5px auto 5px;
}
#white_big_box{
	position: absolute;
	top: 110px;
	left: 40px;
	right: 40px;	
	width: auto;
	height: 50%;
	min-width: 900px;
	min-height: 400px;
	background-color: white;
	z-index: 10;
}
.box_of_applicants{
	position: relative;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #bcbcbc;
}
.pic_of_applicants{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 20px;
	width: 61px;
	height: 61px;
}
.word_of_applicants{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 101px;
}
#bt_yes{
	position: absolute;
	top: 50%;
	right: 88px;
	width: 68px;
	height: 44px;
	margin-top: -22px;
	border-radius:8px;
	border: 1px solid #bcbcbc;
	background: white;
	font-size: 18; 
	font-family: "宋体"; 
	cursor:pointer; 
}
#bt_no{
	position: absolute;
	top: 50%;
	right: 10px;
	width: 68px;
	height: 44px;
	margin-top: -22px;
	border-radius:8px;
	border: 1px solid #bcbcbc;
	background: white; 
	font-size: 18; 
	cursor:pointer;
}