.Body{

  background-color:#f6f6f6;

}
#navBackground
{  
  background-image:url(../images/login_02.png);
  background-size:100% 100%;                  /**导航背景图片*/
}
span
{
  color:#ffffff;
}
.loginContent{                                  /*对层的设置*/
  min-width:780px;
  min-height:156px;
  background-color:#ffffff;
  margin-top:40px;
}
.loginContentLeft
{ clear:left;
  float:left; 
  position:relative; 
  top:29px;  
  left:13px;  
  
}
.loginContentRight{
  min-width:674px;
  min-height:154px;
  float:left;
  /*height:104px;
  position:relative;
  top:28px;
  left:65px;*/
  margin-left:38px;
  margin-top:28px;
  margin-bottom:21px;

}
.loginContentTitle{
  min-width:673px;
  float:left;
  clear:left;
  margin-bottom:25px;
  font-family:"宋体";
  font-size:18px;
  color:#040404;
}
.loginSpecialContent{ /*登录页具体的内容*/
  min-width:673px;

  float:left;
  clear:left;
  margin-bottom:14px;
  font-family:"宋体";
  font-size:12px;
  color:#1c1c1c;

}
.dateTime{
  min-width:673px;
  float:left;
  clear:left;
  margin-bottom:21px;
  font-family:"宋体";
  color:#bec1c0;
}
.dataTimeImage
{ 
  clear:left;
  float:left;
  margin-right:10px;
}
.dataTimeSpecialTime{
  float:left;

}
