
body{

 background-color:#F0F8FF;
}
#img_responsive{

  margin-right: 10px;
  display:block;
  max-width:100%;
  /*height*/

}
/*下面是group.html的id */
#navBackground{  

background-image:url(images/login_02.png);

background-size:100% 100%; /**导航背景图片*/

}
#content1{
	height:100px;
}
#content2{
   height:100px;

}
#content3{
    height:40px;
   
}
#content4{
	height:50px;
}


#buttonCenter{
text-align: center;

}
#buttonSure{
   margin-right:50px;
   width:100px;
   height:43px;
}
#buttonCanel{
   width:100px;
   height:43px;

}
span{
   color:#FFFFFF;
}
#radioButton{
	width:1170px;
	height:86px;
  background-color:#ffffff;
  text-align:center;
  padding-top:43px; 

}
#textButton1{
  
   border:0px;
  
}
#textButton2{
   border:0px;
}

/*下面是register.html中的id*/
#form_top_Content
{
  height:80px;


}
#formGroup
{
  width:1170px;
  height:86px;
  background-color:#ffffff;  /*表单设置 */
  border:0px;
  margin-bottom:50px;
}
#photoDiv{
   
   /*float:left;
   text-align:center;
  /*vertical-align:center;*/
  /*表单的图片样式*/
  margin: 0 auto;

}
#photo
{

}
#inputFormDiv
{
  width:1101px;
  height:85px;
  border:0px;
  
}
#inputForm
{
  width:1101px;
  height:85px;
  border:0px;
  
}
#registerDiv{
   text-align:center;
       
}

#registerButton{
  border:0px;
  width:100px;
  height:43px;
  background-color:#FFFFFF;

}

